
.blank-nav {
    background-color: #00164E;
    width: 1440px;
    height: 100px;
    margin: 52px 0 0;
    object-fit: contain;
}

.blanknav-logo {
    height: 65px;
    width: 140px;
    margin-left: 120px;
    margin-bottom: 4.5px;
    margin-top: 12px;
    background-size: contain;
    background-position-y: center;
} 
